.container{
    width: 100%;
    height: 607px;

  
}
.main{
    padding-top: 95px;
    padding-left: 76px;
    width: 60%;
    height: 607px;
    float: left;
    background-color: #62D0DF;
    box-sizing: border-box;
  
}
.pic{
    height: 607px;
    width: 40%;
    float: right;
    box-sizing: border-box;

}
.textm{
    color: white;
}
.textn{
    padding-top: 60px;
    color: white;
    font-weight: 600;

}
.textn span{
    font-weight: 300;
}